[data-bs-theme="light"] pre { line-height: 125%; }
[data-bs-theme="light"] td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
[data-bs-theme="light"] span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
[data-bs-theme="light"] td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
[data-bs-theme="light"] span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
[data-bs-theme="light"] div.highlight pre .hll { background-color: #ffffcc }
[data-bs-theme="light"] div.highlight pre { background: #ffffff; }
[data-bs-theme="light"] div.highlight pre .c { color: #888888 } /* Comment */
[data-bs-theme="light"] div.highlight pre .err { color: #FF0000; background-color: #FFAAAA } /* Error */
[data-bs-theme="light"] div.highlight pre .k { color: #008800; font-weight: bold } /* Keyword */
[data-bs-theme="light"] div.highlight pre .o { color: #333333 } /* Operator */
[data-bs-theme="light"] div.highlight pre .ch { color: #888888 } /* Comment.Hashbang */
[data-bs-theme="light"] div.highlight pre .cm { color: #888888 } /* Comment.Multiline */
[data-bs-theme="light"] div.highlight pre .cp { color: #557799 } /* Comment.Preproc */
[data-bs-theme="light"] div.highlight pre .cpf { color: #888888 } /* Comment.PreprocFile */
[data-bs-theme="light"] div.highlight pre .c1 { color: #888888 } /* Comment.Single */
[data-bs-theme="light"] div.highlight pre .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
[data-bs-theme="light"] div.highlight pre .gd { color: #A00000 } /* Generic.Deleted */
[data-bs-theme="light"] div.highlight pre .ge { font-style: italic } /* Generic.Emph */
[data-bs-theme="light"] div.highlight pre .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
[data-bs-theme="light"] div.highlight pre .gr { color: #FF0000 } /* Generic.Error */
[data-bs-theme="light"] div.highlight pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[data-bs-theme="light"] div.highlight pre .gi { color: #00A000 } /* Generic.Inserted */
[data-bs-theme="light"] div.highlight pre .go { color: #888888 } /* Generic.Output */
[data-bs-theme="light"] div.highlight pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
[data-bs-theme="light"] div.highlight pre .gs { font-weight: bold } /* Generic.Strong */
[data-bs-theme="light"] div.highlight pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[data-bs-theme="light"] div.highlight pre .gt { color: #0044DD } /* Generic.Traceback */
[data-bs-theme="light"] div.highlight pre .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
[data-bs-theme="light"] div.highlight pre .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
[data-bs-theme="light"] div.highlight pre .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
[data-bs-theme="light"] div.highlight pre .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
[data-bs-theme="light"] div.highlight pre .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
[data-bs-theme="light"] div.highlight pre .kt { color: #333399; font-weight: bold } /* Keyword.Type */
[data-bs-theme="light"] div.highlight pre .m { color: #6600EE; font-weight: bold } /* Literal.Number */
[data-bs-theme="light"] div.highlight pre .s { background-color: #fff0f0 } /* Literal.String */
[data-bs-theme="light"] div.highlight pre .na { color: #0000CC } /* Name.Attribute */
[data-bs-theme="light"] div.highlight pre .nb { color: #007020 } /* Name.Builtin */
[data-bs-theme="light"] div.highlight pre .nc { color: #BB0066; font-weight: bold } /* Name.Class */
[data-bs-theme="light"] div.highlight pre .no { color: #003366; font-weight: bold } /* Name.Constant */
[data-bs-theme="light"] div.highlight pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
[data-bs-theme="light"] div.highlight pre .ni { color: #880000; font-weight: bold } /* Name.Entity */
[data-bs-theme="light"] div.highlight pre .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
[data-bs-theme="light"] div.highlight pre .nf { color: #0066BB; font-weight: bold } /* Name.Function */
[data-bs-theme="light"] div.highlight pre .nl { color: #997700; font-weight: bold } /* Name.Label */
[data-bs-theme="light"] div.highlight pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
[data-bs-theme="light"] div.highlight pre .nt { color: #007700 } /* Name.Tag */
[data-bs-theme="light"] div.highlight pre .nv { color: #996633 } /* Name.Variable */
[data-bs-theme="light"] div.highlight pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
[data-bs-theme="light"] div.highlight pre .w { color: #bbbbbb } /* Text.Whitespace */
[data-bs-theme="light"] div.highlight pre .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
[data-bs-theme="light"] div.highlight pre .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
[data-bs-theme="light"] div.highlight pre .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
[data-bs-theme="light"] div.highlight pre .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
[data-bs-theme="light"] div.highlight pre .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
[data-bs-theme="light"] div.highlight pre .sa { background-color: #fff0f0 } /* Literal.String.Affix */
[data-bs-theme="light"] div.highlight pre .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
[data-bs-theme="light"] div.highlight pre .sc { color: #0044DD } /* Literal.String.Char */
[data-bs-theme="light"] div.highlight pre .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
[data-bs-theme="light"] div.highlight pre .sd { color: #DD4422 } /* Literal.String.Doc */
[data-bs-theme="light"] div.highlight pre .s2 { background-color: #fff0f0 } /* Literal.String.Double */
[data-bs-theme="light"] div.highlight pre .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
[data-bs-theme="light"] div.highlight pre .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
[data-bs-theme="light"] div.highlight pre .si { background-color: #eeeeee } /* Literal.String.Interpol */
[data-bs-theme="light"] div.highlight pre .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
[data-bs-theme="light"] div.highlight pre .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
[data-bs-theme="light"] div.highlight pre .s1 { background-color: #fff0f0 } /* Literal.String.Single */
[data-bs-theme="light"] div.highlight pre .ss { color: #AA6600 } /* Literal.String.Symbol */
[data-bs-theme="light"] div.highlight pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
[data-bs-theme="light"] div.highlight pre .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
[data-bs-theme="light"] div.highlight pre .vc { color: #336699 } /* Name.Variable.Class */
[data-bs-theme="light"] div.highlight pre .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
[data-bs-theme="light"] div.highlight pre .vi { color: #3333BB } /* Name.Variable.Instance */
[data-bs-theme="light"] div.highlight pre .vm { color: #996633 } /* Name.Variable.Magic */
[data-bs-theme="light"] div.highlight pre .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
