/* ml4p.css */

/* The main stylesheet for the ml4p theme. */
/* All theme-specific classes and IDs are prefixed with "ml4p-" */

/* GENERAL STYLES */
/* ============== */

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  overflow-y: scroll;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

a:visited {
  color: var(--bs-link-color);
}

/* HEADER LINKS */
/* ============ */

/* these are the links that appear when hovering over a header */

a.headerlink {
  visibility: hidden;
  text-decoration: none;
  font-size: 1em;
  padding-left: .25em;
  margin-bottom: .5em;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
  visibility: visible;
}

/* PREV-NEXT LINKS */
/* =============== */

a.ml4p-prev-next {
  font-size: 11pt;
  color: var(--bs-body-color);
}

a.ml4p-prev-next:visited {
  color: var(--bs-body-color);
}

a.ml4p-prev-next:hover {
  background-color: var(--bs-tertiary-bg);
}

/* DIRECTIVE STYLING */
/* ================= */

/* Excercises */
/* ---------- */

div.ml4p-exercise {
  background-color: #6E66BA;
  margin: 20px;
  padding: 0em;
  border: 5px solid #6E66BA;
  border-radius: 10px;
}

div.ml4p-exercise-title {
  color: white;
  font-weight: bold;
  padding: 5px 2rem 10px 17px;
}

div.ml4p-exercise-content {
  background-color: var(--bs-body-bg);
  border-radius: 10px;
  padding: 17px;
  font-size: .9em;
}

div.ml4p-exercise-question p {
  margin: 0em;
}

div.ml4p-exercise-answer {
  background-color: var(--bs-secondary-bg);
  padding: 17px;
  border-radius: 10px;
  border: 3px solid var(--bs-secondary-bg);
  margin-top: 10px;
}

div.ml4p-exercise-show-answer-button-container {
  margin-top: 10px;
}

button.ml4p-exercise-show-answer-button {
  font-size: 1em;
}

button.ml4p-exercise-show-answer-button:hover {
  background-color: var(--bs-tertiary-bg);
}

/* MOBILE HAMBURGER MENU */
/* ===================== */

button.ml4p-hamburger:hover {
  background-color: var(--bs-tertiary-bg);
}


/* SIDEBAR */
/* ======= */

div.ml4p-sb-supertitle {
  font-size: 9pt;
  color: var(--bs-tertiary-color);
}

div.ml4p-fold-icon-part {
  padding-bottom: 3pt;
  padding-right: 4pt;
}

div.ml4p-fold-icon-chapter {
  padding-bottom: 0rem;
  padding-right: .3rem;
}

div.ml4p-sb-btn-part:hover {
  background-color: var(--bs-tertiary-bg);
}

.ml4p-sb-chapter li {
  margin-left: 2rem;
  margin-bottom: .2rem;
  font-size: 11pt;
}

a.ml4p-sb-chapter {
  padding: 0.3rem .5rem;
}

a.ml4p-sb-chapter:hover {
  background-color: var(--bs-tertiary-bg);
}

div.ml4p-sb-btn-chapter {
  font-size: 11pt;
  padding: 0.3rem .5rem;
}

div.ml4p-sb-btn-chapter:hover {
  background-color: var(--bs-tertiary-bg);
}

.sb-chapter-prefix {
  font-size: 8pt;
  color: var(--bs-tertiary-color);
  margin-right: .2em;
}

.ml4p-sb-section li {
  font-size: 10pt;
  padding: 0pt 3pt;
}

a.ml4p-sb-section {
  padding: 2pt 5pt;
}

a.ml4p-sb-section:hover {
  background-color: var(--bs-tertiary-bg);
}

span.ml4p-section-prefix {
  color: var(--bs-tertiary-color);
  margin-right: .5em;
}

li.ml4p-sb-supplement {
  padding-left: 1.5rem;
}

li.ml4p-sb-supplement a {
  padding: 0.3rem .5rem;
  font-size: 11pt;
  text-decoration: none;
}

li.ml4p-sb-supplement a:hover {
  background-color: var(--bs-tertiary-bg);
}

div.ml4p-dark-mode-container {
  margin-left: 33px;
}

/* TOC BAR */
/* ======= */

ul#mlp4-tocbar a {
  color: var(--bs-dark-text);
}

ul#mlp4-tocbar a.active {
  color: var(--bs-primary);
}

ul.mlp4-tocbar-nested {
  margin-left: 1rem;
}

input.ml4p-toggle-dark-mode {
  margin-left: 10px;
}
