{% from 'sidebar.html' import make_sidebar with context %}

{%- extends "basic/layout.html" %}

{# removed existing top+bottom related nav, and embed in main content #}
{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}

{%- block extrahead %}
<!-- css and js includes -->
{% include "extrahead.html" %}
{%- endblock %}

{%- block content %}

<!-- off-canvas sidebar for mobile -->
<div
  class="offcanvas offcanvas-start overflow-auto"
  tabindex="-1"
  id="ml4p-mobile-sidebar"
  aria-labelledby="ml4p-mobile-sidebar"
>
  {{ make_sidebar(id_prefix="mobile") }}
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block pt-3 px-4">
      <div
        class="sticky-top"
        style="overflow: auto; -webkit-overflow-scrolling: touch"
      >
        <!-- on canvas sidebar for desktop -->
        {{ make_sidebar(id_prefix="desktop") }}
      </div>
    </div>
    <div class="col-lg-7 pt-4 px-5">
      <div class="body" role="main">
        <!-- a button that is only shown on small screens that toggles the sidebar -->
        <div class="d-lg-none mb-5">
          <button
            class="btn border ml4p-hamburger"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#ml4p-mobile-sidebar"
            aria-controls="ml4p-mobile-sidebar"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
              />
            </svg>
          </button>
        </div>

        {% include "breadcrumbs.html" %}

        <!-- main content -->
        {% block body %} {% endblock %}

        {% include "prev_next.html" %}
      </div>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
      <!-- "on this page" bar -->
      {%- if active_page.is_section %} {% include 'tocbar.html' %} {%- endif %}
    </div>
  </div>
</div>

{%- endblock %} {% block footer %} {% endblock %}
