<div class="sticky-top pt-5">
  <span
    class="text-muted text-uppercase fw-bold"
    style="font-size: 9pt; opacity: 0.5"
  >
    On this page
  </span>
  <ul class="list-unstyled" id="ml4p-tocbar">
    {%- for (heading, id, level, prev_level) in headings %} {% if level >
    prev_level %}
    <ul class="list-unstyled ml4p-tocbar-{{ level }} ml4p-tocbar-nested">
      {% elif level < prev_level %}
    </ul>
    {% endif %} {% set prev_level = level %}
    <li>
      <a style="font-size: 10pt" href="#{{ id }}">{{ heading }}</a>
    </li>
    {%- endfor %}
  </ul>
</div>
