body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  overflow-y: scroll;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

a.prev-next {
  font-size: 11pt;
}

a.prev-next:hover {
  background-color: var(--bs-tertiary-bg);
}

div.exercise {
  background-color: #6E66BA;
  margin: 20px;
  padding: 0em;
  border: 5px solid #6E66BA;
  border-radius: 10px;
}

div.exercise-title {
  color: white;
  font-weight: bold;
  padding: 5px 2rem 10px 17px;
}

div.exercise-content {
  background-color: var(--bs-body-bg);
  border-radius: 10px;
  padding: 17px;
  font-size: .9em;
}

div.exercise-question p {
  margin: 0em;
}

div.exercise-answer {
  background-color: var(--bs-secondary-bg);
  padding: 17px;
  border-radius: 10px;
  border: 3px solid var(--bs-secondary-bg);
  margin-top: 10px;
}

div.exercise-show-answer-button-container {
  margin-top: 10px;
}

button.exercise-show-answer-button {
  font-size: 1em;
}

button.exercise-show-answer-button:hover {
  background-color: var(--bs-tertiary-bg);
}

a.headerlink {
  visibility: hidden;
  text-decoration: none;
  font-size: 1em;
  padding-left: .25em;
  margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Rounded MT Bold", "Nunito", sans-serif;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
  visibility: visible;
}


button.hamburger:hover {
  background-color: var(--bs-tertiary-bg);
}


div.highlight {
  margin-left: 2em;
}

div.highlight pre {
  /* adjust the interline spacing */
  line-height: 1.4;
}
