div.mlb-sb-supertitle {
  font-size: 9pt;
  color: var(--bs-tertiary-color);
}

div.mlb-fold-icon-part {
  padding-bottom: 3pt;
  padding-right: 4pt;
}

div.mlb-fold-icon-chapter {
  padding-bottom: 0pt;
  padding-right: 3pt;
}

div.mlb-sb-btn-part:hover {
  background-color: var(--bs-tertiary-bg);
}

.mlb-sb-chapter li {
  margin-left: 2rem;
  margin-bottom: .2rem;
  font-size: 11pt;
}

a.mlb-sb-chapter {
  padding: 0.3rem .5rem;
}

a.mlb-sb-chapter:hover {
  background-color: var(--bs-tertiary-bg);
}

div.mlb-sb-btn-chapter {
  font-size: 11pt;
  padding: 0.3rem .5rem;
}

div.mlb-sb-btn-chapter:hover {
  background-color: var(--bs-tertiary-bg);
}

.sb-chapter-prefix {
  font-size: 8pt;
  color: var(--bs-tertiary-color);
  margin-right: .2em;
}

.mlb-sb-section li {
  font-size: 10pt;
  padding: 0pt 3pt;
}

a.mlb-sb-section {
  padding: 2pt 5pt;
}

a.mlb-sb-section:hover {
  background-color: var(--bs-tertiary-bg);
}

li.sb-supplement {
  padding-left: 1.5rem;
}

li.sb-supplement a {
  padding: 0.3rem .5rem;
  font-size: 11pt;
  text-decoration: none;
}

li.sb-supplement a:hover {
  background-color: var(--bs-tertiary-bg);
}

div.dark-mode-container {
  margin-left: 33px;
}
